Dados copa desde 2006; Cada linha do bando representa um jogo: copa, eliminatória


---

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
base = pd.read_excel("https://github.com/futpythontrader/YouTube/blob/main/Base_de_Dados_Copa_do_Mundo.xlsx?raw=true")

In [6]:
base

,Nº,Date,Time,League,Season,Home,Away,Round,HT_Goals_H,HT_Goals_A,...,FT_Fouls_H,FT_Fouls_A,FT_Yellow_Cards_H,FT_Yellow_Cards_A,FT_Red_Cards_A,FT_Red_Cards_H,FT_Tackles_H,FT_Tackles_A,FT_Throwin_A,FT_Throwin_H
0,1,2005-01-10,13:00,AFRICA - WORLD CUP,2006,Liberia,Zambia,QUALIFICATION,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2005-02-09,14:00,AFRICA - WORLD CUP,2006,Libya,Sudan,QUALIFICATION,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,2005-03-09,10:00,AFRICA - WORLD CUP,2006,Kenya,Tunisia,QUALIFICATION,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,2005-03-09,10:00,AFRICA - WORLD CUP,2006,Zambia,Senegal,QUALIFICATION,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,2005-03-09,15:00,AFRICA - WORLD CUP,2006,Burkina Faso,South Africa,QUALIFICATION,2,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3836,3837,2022-06-14,15:00,WORLD - WORLD CUP,2022,Costa Rica,New Zealand,QUALIFICATION,1,0,...,13,14,2,1,1,0,23,14,28,20
3837,3838,2022-11-20,13:00,WORLD - WORLD CUP,2022,Qatar,Ecuador,ROUND 1,0,2,...,15,15,4,2,0,0,10,15,17,20
3838,3839,2022-11-21,10:00,WORLD - WORLD CUP,2022,England,Iran,ROUND 1,3,0,...,9,14,0,2,0,0,13,12,19,18
3839,3840,2022-11-21,13:00,WORLD - WORLD CUP,2022,Senegal,Netherlands,ROUND 1,0,0,...,13,13,2,1,0,0,14,10,28,17
3840,3841,2022-11-21,16:00,WORLD - WORLD CUP,2022,USA,Wales,ROUND 1,1,0,...,15,10,4,2,0,0,14,18,25,21

In [8]:
Eliminatorias = base['League'].unique()
Eliminatorias

array(['AFRICA - WORLD CUP', 'ASIA - WORLD CUP',
       'AUSTRALIA & OCEANIA - WORLD CUP', 'EUROPE - WORLD CUP',
       'NORTH & CENTRAL AMERICA - WORLD CUP', 'SOUTH AMERICA - WORLD CUP',
       'WORLD - WORLD CUP'], dtype=object)

In [9]:
Temporadas=base['Season'].unique()
Temporadas

array([2006, 2010, 2014, 2018, 2022])

In [11]:
FiltrandoColunas= base.columns.to_list()

In [10]:
#Filtrando colunas de interesse

flt = (base.League == "WORLD - WORLD CUP") & (base.Season != 2022)
df = base[flt]
df = df[['Season','Home','Away','FT_Odd_H','FT_Odd_D','FT_Odd_A','FT_Goals_H','FT_Goals_A']]

df['CV_Odds'] = df[['FT_Odd_H','FT_Odd_D','FT_Odd_A']].std(ddof=0, axis=1) / df[['FT_Odd_H','FT_Odd_D','FT_Odd_A']].mean(axis=1)

df.reset_index(inplace=True, drop=True)
df.index = df.index.set_names(['Nº'])
df = df.rename(index=lambda x: x + 1)
df

,Season,Home,Away,FT_Odd_H,FT_Odd_D,FT_Odd_A,FT_Goals_H,FT_Goals_A,CV_Odds
Nº,,,,,,,,,
1,2006,England,Portugal,2.10,2.87,3.30,0,1,0.180076
2,2006,Brazil,France,1.75,3.20,5.00,0,1,0.400815
3,2006,Germany,Italy,2.25,2.75,3.20,0,2,0.141957
4,2006,Portugal,France,3.75,2.80,2.00,0,1,0.250986
5,2006,South Korea,Togo,2.04,2.87,3.50,2,1,0.213283
...,...,...,...,...,...,...,...,...,...
250,2018,Russia,Croatia,4.00,3.20,2.14,2,3,0.244693
251,2018,Belgium,England,2.25,3.80,3.20,2,0,0.206964
252,2018,France,Croatia,2.14,3.00,4.33,4,2,0.285396
253,2018,France,Belgium,2.60,3.10,3.10,1,0,0.080353
254,2018,Croatia,England,3.90,3.00,2.30,2,1,0.213553

*   .std(ddof=0, axis=1   #clcula desvio padrao da 1 linha e vai linha por linha

*    /  divide pelo data frame filtrado

In [12]:
df.describe()

,Season,FT_Odd_H,FT_Odd_D,FT_Odd_A,FT_Goals_H,FT_Goals_A,CV_Odds
count,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000
mean,2012.362205,3.422402,4.058740,5.271693,1.322835,1.192913,0.399782
std,4.394875,3.234033,1.876825,6.582064,1.237631,1.178777,0.226232
min,2006.000000,1.030000,2.000000,1.120000,0.000000,0.000000,0.031282
25%,2010.000000,1.577500,3.200000,2.055000,0.000000,0.000000,0.211324
50%,2014.000000,2.250000,3.550000,3.400000,1.000000,1.000000,0.372848
75%,2018.000000,3.875000,4.250000,6.500000,2.000000,2.000000,0.579265
max,2018.000000,26.000000,26.000000,81.000000,7.000000,7.000000,0.927689

In [14]:
copa = base[(base.League == "WORLD - WORLD CUP") & (base.Season == 2022)]
copa = copa[['Season','Home','Away','FT_Odd_H','FT_Odd_D','FT_Odd_A','FT_Goals_H','FT_Goals_A']]

copa['CV_Odds'] = copa[['FT_Odd_H','FT_Odd_D','FT_Odd_A']].std(ddof=0, axis=1) / copa[['FT_Odd_H','FT_Odd_D','FT_Odd_A']].mean(axis=1)
#coeficiente de variação divido por media

copa.reset_index(inplace=True, drop=True)
copa.index = copa.index.set_names(['Nº'])
copa = copa.rename(index=lambda x: x + 1)

copa

,Season,Home,Away,FT_Odd_H,FT_Odd_D,FT_Odd_A,FT_Goals_H,FT_Goals_A,CV_Odds
Nº,,,,,,,,,
1,2022,Australia,Peru,4.75,3.20,1.90,1,0,0.354822
2,2022,Costa Rica,New Zealand,2.20,2.70,4.50,1,0,0.315224
3,2022,Qatar,Ecuador,3.75,3.00,2.20,0,2,0.212143
4,2022,England,Iran,1.36,4.75,9.00,6,2,0.620569
5,2022,Senegal,Netherlands,5.50,3.60,1.66,0,2,0.437092
6,2022,USA,Wales,2.45,3.10,3.20,1,1,0.114000

In [19]:
fltro1 = (copa.FT_Odd_H < copa.FT_Odd_A) & (copa.CV_Odds <= 0.399782)
back_home = copa[fltro1]
back_home

,Season,Home,Away,FT_Odd_H,FT_Odd_D,FT_Odd_A,FT_Goals_H,FT_Goals_A,CV_Odds
Nº,,,,,,,,,
2,2022,Costa Rica,New Zealand,2.20,2.7,4.5,1,0,0.315224
6,2022,USA,Wales,2.45,3.1,3.2,1,1,0.114000

In [20]:
fltro1 = (copa.FT_Odd_H > copa.FT_Odd_A) & (copa.CV_Odds >= 0.399782)
back_away = copa[fltro1]
back_away

,Season,Home,Away,FT_Odd_H,FT_Odd_D,FT_Odd_A,FT_Goals_H,FT_Goals_A,CV_Odds
Nº,,,,,,,,,
5,2022,Senegal,Netherlands,5.5,3.6,1.66,0,2,0.437092